<body>

<table class = "center" width=100%>
	<tr>
		<td colspan=2 style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='borneadons.png') }}" height=100><br><br><br><br><br><br><br></td>
	</tr>
	<tr>
		<td style="text-align: center; vertical-align: middle;"><img src="{{ url_for('video_feed') }}" height="50%"></td>
		<td>
			<table>
				<tr>
					<td style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='1.png') }}" height=50></td>
					<td style="text-align: left; vertical-align: left;"><img src="{{ url_for('static', filename='lautrecercle.png') }}" height=50>
				</tr>
				<tr>
					<td colspan = 2 style="text-align: center; vertical-align: middle;"><font face = "Verdana" size = "2"><b>L'Autre cercle</b> est l’acteur français de référence qui œuvre pour l’inclusion des personnes LGBT+ dans le monde du travail. Créée en 1997, l'association loi 1901 reconnue d’intérêt général regroupe aujourd’hui plus de 400 de membres au sein de 13 antennes locales sur toute la France. L'Autre Cercle a pour mission d’accompagner les acteurs du management de la diversité et de l'inclusion du monde professionnel.</font></td>
				</tr>
					<td style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='2.png') }}" height=50></td>
					<td style="text-align: left; vertical-align: left;"><img src="{{ url_for('static', filename='latricyclerie.png') }}" height=50></td>
				</tr>
				<tr>
					<td colspan = 2 style="text-align: center; vertical-align: middle;"><font face = "Verdana" size = "2"><b>La Tricyclerie</b> organise la collecte des déchets organiques en vélo, pour un compostage local ! La force de La Tricyclerie ? Son équipe variée entre des cyclistes, des pro du compost, des nantais, des jeunes, des moins jeunes... Un équilibre et une richesse à toute épreuve dans l’équipe avec les fondatrices, salarié.e.s, volontaires & bénévoles Tricycleurs-Tricycleuses !</font></td>
				</tr>
					<td style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='3.png') }}" height=50></td>
					<td style="text-align: left; vertical-align: left;"><img src="{{ url_for('static', filename='diyenlatige.png') }}" height=50></td>
				</tr>
				<tr>
					<td colspan = 2 style="text-align: center; vertical-align: middle;"><font face = "Verdana" size = "2"><b>Diyen Latigé</b>... Diyen Latigé signifie vivre, traverser le monde, en langue bambara. Sa vocation : organiser des événements, plutôt festifs pour récolter des fonds servant à payer la scolarité des jeunes. Car une fois hébergés, leur première demande, c’est d’aller à l’école, apprendre un métier.</font></td>
				</tr>
					<td style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='4.png') }}" height=50></td>
					<td style="text-align: left; vertical-align: left;"><img src="{{ url_for('static', filename='amnestyinternational.png') }}" height=50></td>
				</tr>
				<tr>
					<td colspan = 2 style="text-align: center; vertical-align: middle;"><font face = "Verdana" size = "2"><b>Amnesty International</b> promeut la défense des droits de l'Homme et milite notamment pour la libération des prisonniers d'opinion, le droit à la liberté d'expression, l'abolition de la peine de mort et de la torture et l'arrêt des crimes politiques, mais aussi pour le respect de l'ensemble des droits civils, politiques, économiques, sociaux et culturels.</font></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body>