<div id="load" class="load">

  <div class="table">
    <div class="table_cell"><img src="{{ url_for('static', filename='Authenticite.png') }} " width=100%></div>
    <div class="table_cell"><img src="{{ url_for('static', filename='ouverture.png') }} " width=60%></div>
      <div class="table_cell"><img src="{{ url_for('static', filename='elegance.png') }} " width=60%></div>
      <div class="table_cell"><img src="{{ url_for('static', filename='engagement.png') }} " width=80% style="transform:rotate(-10deg);"></div>
    <div class="table_cell"><img src="{{ url_for('static', filename='courage.png') }} " width=70%></div>
  </div>

  <div class="table">
    <div class="table_cell">{{ vote1 }}</div>
    <div class="table_cell">{{ vote2 }}</div>
      <div class="table_cell">{{ vote3 }}</div>
      <div class="table_cell">{{ vote4 }}</div>
    <div class="table_cell">{{ vote5 }}</div>
  </div>

  <div class="table">
    <div class="table_cell"><img src="data:image/png;base64,{{ img_repartition.decode('utf-8', 'ignore') }}" width=100%></div>
</div>

  <div class="row">
    <div class="column"> <img src="data:image/png;base64,{{ img_data.decode('utf-8', 'ignore') }}" width=100%></div>
    <div class="column"><table class="center" style="font-size : 12px;">
          <tbody><tr>
              <th style="text-align: center; " width="33%">Nombre de frames </th>
              <th style="text-align: center; " width="33%">Taux d'utilisation  </th>
              <th style="text-align: center; " width="33%">Dernière actualisation </th>
          </tr>
          <tr>
            <th style="text-align: center; " width="33%">{{ nbframe}} </th>
            <th style="text-align: center; " width="33%">{{ tauxutil }} % </th>
            <th style="text-align: center; " width="33%">{{ refresh }} </th>
         </tr>
        </tbody>
        </table>
    </div>
  </div>



</div>